/* @import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
/* Reseting first  */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#logo{
    display: flex;
    color: #00ffff;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img{
    height: 42px;
    filter: invert();/* To Change color of black into white */
}
#navbar {
    background-color: #d43b3b;
    padding: 18px 4px;
    font-family: 'Yeon Sung';
}
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center; /* Makes Vertically center  */
    /* justify-content: center; Makes Horizontally center*/
}
#navbar li{
    list-style: none;/* to remove bullet dots*/
}

#navbar li a{
    color: white;
    font-size: 30px;
    text-decoration: none; /* to remove underline */
    padding:13px 20px;
}
#navbar li a:hover{
    color: black;
}

#introSection{
  
    padding-bottom: 40px;
    color: #00ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg");
    height: 425px;
    background-color: red;
}

#introSection .small{
    padding: 5px;
    font-size: 52px;
}

#missionSection{
    height: 326px;
    width: 80%;
    margin: auto;
}

#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Yeon Sung';
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    height: 209px;
    margin: 23px 15px;
}
.card h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 110px;
    padding: 0px 5px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit;/* make image size adjust to box  */
    /* padding: 0 14px; */
}

.card-content{    
    padding: 0 10px;
}
.card-content p{    
    font-size: 19px;
}

#sponsorsSection{
    height: 300px;
    background-color: #fbd6d6c7;
}

#sponsorsSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    font-family: 'Yeon Sung';
}

#sponsors{
    height: 191px;
    max-width: 1000px;
    margin: 27px auto;
}

.spImage{
    height: 80%;
    margin: 20px;
}

#footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: black;
    font-size:  20px;
    font-family: 'Yeon Sung';
}